@model TodoDemo.Models.Todo

<script type="application/javascript">
    function submitForm(clickedCheckbox) {
        debugger;
        var updateCheckBtn = $(clickedCheckbox).closest("form").find("#updateCheckbox");
        updateCheckBtn.click();
        //updateCheckBtn.unbind('submit').submit();
    }
</script>

<ul class="list-group">
    <li class="list-group-item">
        <form method="post" class="form-inline">
            <input type="hidden" name="todoId" value="@Model.TodoId">
            <div class="form-group">
                @if (Model.Done)
                {
                    <input checked="checked" data-val="true" data-val-required="The Done field is required."
                           id="todo_Done" name="todo.Done" type="checkbox" onclick="submitForm(this)">
                }
                else
                {
                    <input data-val="true" data-val-required="The Done field is required."
                           id="todo_Done" name="todo.Done" type="checkbox" onclick="submitForm(this)">
                }
            </div>
            <div class="form-group mx-sm-3">
                @Model.Description -- @Model.Category.Name
            </div>
            <div class="btn-group btn-group-sm" role="group" aria-label="Delete | Edit">
                <button asp-page-handler="delete" type="submit" class="btn btn-danger">Delete</button>
                <a asp-page="@nameof(TodoEdit)" asp-route-todoId="@Model.TodoId" class="btn btn-primary">Edit</a>
            </div>
            <button style="display: none" id="updateCheckbox" type="submit" asp-page-handler="updateCheckbox" asp-route-todoId=@Model.TodoId>Update</button>
        </form>
    </li>
</ul>